Package: com.ashte.alertashte
Name: AlertAshte
Depends: mobilesubstrate
Version: 1.0.0
Architecture: iphoneos-arm
Description: Anti-removal integrity check tweak for AshteMobile
Maintainer: Ashte
Author: Ashte
Section: Tweaks
